.password-sent-page {
    --background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
  }
  
  .password-sent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  .password-sent-header {
    color: #f0f0f0;
    margin-bottom: 30px;
  
    h1 {
      font-size: 22px;
      color: #F0DBBE;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      color: #F0F0F0;
      line-height: 1.4;
    }
  }