<ion-content>
  <app-background-image-with-overlay imageUrl="/assets/images/pancakes-blurred.svg">
    <div class="content-wrapper">
      <app-logo-title [title]="'Pitada De Sabor'"></app-logo-title>
      <app-description-text [text]="'Transforme Ingredientes Em Pratos Incríveis Com Apenas Alguns Toques!'"></app-description-text>
      <app-button
        type="button" [label]="'Descubra Mais'"
        (buttonClick)="onDescobrirMaisClick()" >
      </app-button>
    </div>
  </app-background-image-with-overlay>
</ion-content>