<div class="feed-menu-container">
  <div class="menu-background"></div>
  <button class="add-button">
    <div class="add-icon-fundo">
      <div class="add-icon-background">
        <i class="bi bi-plus-lg add-icon"></i>
      </div>
    </div>
  </button>
  <button class="menu-item home">
    <i class="bi bi-house-door-fill"></i>
  </button>
  <button class="menu-item cart">
    <i class="bi bi-cart-fill"></i>
  </button>
  <button class="menu-item profile">
    <i class="bi bi-person-fill"></i>
  </button>
  <button class="menu-item settings">
    <i class="bi bi-gear-fill"></i>
  </button>
</div>