.pagina-de-login {
--background: #000;

.container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #ffe9b1;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitulo {
    color: #ccc;
    text-align: center;
    font-size: 0.95em;
    margin-bottom: 30px;
}

.item-de-entrada {
    background: transparent !important;
    --background: transparent !important;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --inner-border-width: 0 !important;
    border: none !important;
    box-shadow: none !important;
   

    ion-icon {
    color: #888;
    margin-right: 10px;
    font-size: 1.2em;
    }

    ion-input {
    color: #fff;
    font-size: 1em;
    }

    .icone-alternar {
    cursor: pointer;
    margin-left: 10px;
    color: #888;
    }
}

.botao-de-login {
    --background: #b6002c;
    --background-activated: #8e0022;
    --background-focused: #8e0022;
    --color: #fff;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 25px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    height: 48px;
    text-align: center
}

.divisor {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    max-width: 400px;

    span {
    background: #000;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    }

    &::before,
    &::after {
    content: '';
    height: 1px;
    background: #444;
    position: absolute;
    top: 50%;
    width: 45%;
    }

    &::before {
    left: 0;
    }

    &::after {
    right: 0;
    }
}

.icones-sociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    .botao-social {
    background-color: #ffe9b1;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    ion-icon {
        color: #b6002c;
        font-size: 24px;
    }
    }
}

.link-de-cadastro {
    color: white;
    text-align: center;

    a {
    color: #b6002c;
    font-weight: bold;
    }
}
}  