<div class="receita-detalhe">
  <div class="content">
    <div class="page-header">
      <app-page-header
        title="Detalhes Da Receita"
        [showBackButton]="true"
        backButtonRoute="/feed"
      ></app-page-header>
    </div>

    <div class="recipe-image-container">
      <img src="{{ receita?.recipe?.photo}}" alt="{{ receita?.recipe?.recipe_name }}">
    </div>

    <div class="recipe-details">

      <div class="recipe-header">
        <div class="info">
          <h2>{{ receita?.recipe?.recipe_name }}</h2>
          <h3>Feito Por {{ receita?.recipe?.userName}}</h3>
        </div>
        <div class="actions">
          <button (click)="toggleFavorite()">
            <i class="bi" [class.bi-heart-fill]="isFavorite" [class.bi-heart]="!isFavorite"></i>
          </button>
          <button (click)="addToCart()">
            <i class="bi bi-cart-fill"></i>
          </button>
        </div>
      </div>

      <div class="specifications">
        <app-info-item iconClass="bi bi-bookmark" text="{{ receita?.recipe?.categoryName }}"></app-info-item>
        <app-info-item iconClass="bi bi-clock" text="{{ receita?.recipe?.timeName }}"></app-info-item>
        <app-info-item iconClass="bi bi-graph-up" text="{{ receita?.recipe?.difficultyName }}"></app-info-item>
      </div>

      <div class="description" *ngIf="receita?.recipe?.description">
        <p>{{ receita?.recipe?.description}}</p>
      </div>

      <div class="recipe-content-toggle">
        <button
          [class.active]="showIngredients"
          (click)="toggleContent('ingredients')"
        >
          Ingredientes
        </button>
        <button
          [class.active]="!showIngredients"
          (click)="toggleContent('preparation')"
        >
          Modo de Preparo
        </button>
      </div>

      <div class="recipe-ingredients" *ngIf="showIngredients">
        <ul>
          <li *ngFor="let ingredient of receita?.recipe?.ingredients">{{ ingredient }}</li>
        </ul>
      </div>

      <div class="recipe-preparation" *ngIf="!showIngredients">
        <ol>
          <li *ngFor="let step of receita?.recipe?.preparation_mode">{{ step }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>