<ion-content [fullscreen]="true" class="forgot-password-page">
  <div class="forgot-password-container">
    <div class="forgot-password-header">
      <h1>Esqueceu sua senha?</h1>
      <p>Informe seu endereço de email e enviaremos um link para recuperação.</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <app-custom-input label="Email" formControlName="email">
        <i class="bi bi-envelope-fill"></i>
      </app-custom-input>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

      <app-button [label]="'Enviar Link de Recuperação'" type="submit"></app-button>
    </form>

    <div class="forgot-password-footer">
      <a (click)="goToLogin()">Voltar para o Login</a>
    </div>
  </div>
</ion-content>