.forgot-password-page {
    --background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
  }
  
  .forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
  }
  
  .forgot-password-header {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 30px;
  
    h1 {
      font-size: 22px;
      color: #F0DBBE;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      color: #F0F0F0;
      line-height: 1.4;
    }
  }
  
  .forgot-password-footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  
    a {
      color: #ad2f33;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }

/* Estilização para o ícone dentro do app-custom-input */
.forgot-password-container app-custom-input i {
    position: absolute;
    left: 10px; /* Ajuste a distância da borda esquerda */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em; /* Ajuste o tamanho do ícone */
    color: #3D3D39; /* Cor do ícone */
  }
  
  /* Estilização adicional para o input dentro do app-custom-input para dar espaço ao ícone */
  .forgot-password-container app-custom-input .input-wrapper input {
    padding-left: 35px; /* Ajuste este valor para dar espaço ao ícone */
    color: #3D3D39;
  }