ion-content {
    --background: transparent; /* Cor de fundo de exemplo */
}

.navigation-container {
    width: 300.66px;
    height: 45.66px;
    position: relative;
    left: 77%;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 30px;
  }