<ion-content [fullscreen]="true" class="reset-password-new-page">
  <div class="reset-password-new-container">
    <div class="reset-password-new-header">
      <h1>Defina sua nova senha</h1>
      <p>Por favor, digite e confirme sua nova senha.</p>
    </div>

    <form>
      <app-custom-input label="Nova Senha">
        <i class="bi bi-lock-fill"></i>
      </app-custom-input>

      <app-custom-input label="Confirmar Nova Senha">
        <i class="bi bi-lock-fill"></i>
      </app-custom-input>

      <app-button label="Redefinir Senha" type="submit"></app-button>
    </form>
  </div>
</ion-content>