.feed-page {
    --background: #000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%; /* Garante que a tela toda seja preenchida */
  }

  .feed-page-content {
    width: 90%;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
  }
  
  .texts {
    flex-grow: 1;
    margin-left: 16px;
  }

  .greeting {
    color: #F0DBBE;
    font-size: 14px;
    text-align: left;
    font-family: sans-serif;
  }
  
  .question {
    color: #F0DBBE;
    font-size: 16px;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  app-search-bar {
    margin: 16px auto; /* Centraliza horizontalmente e adiciona margem vertical */
  }
  
  /* ... outros estilos do feed-page ... */

.categories-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;

  app-category-item {
    /* Você pode adicionar estilos para o componente app-category-item aqui, se necessário */
    i {
      /* Estilos para os ícones do Bootstrap dentro do app-category-item */
      font-size: 24px; /* Ajuste o tamanho do ícone */
      color: #AD2F33; /* Ajuste a cor do ícone */
      /* Outros estilos como margem, etc. */
    }
  }
}