.splash-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67161F;
    background-image: url('/assets/images/background-pattern.svg');
    background-size: cover;
    color: #fff;
  }
  