.receita-detalhe{
  background: #111;
  height: 100%;
  color: #f0f0f0;
}

.content{
  width: 90%;
  margin: 0 auto;
}

.recipe-image-container {
  width: 100%;
  height: 30vh;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 16px;
  margin: 10% auto 0 auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.recipe-details h2 {
  color: #F0DBBE;
  margin-bottom: 20px;
  font-size: 22px;
}

.description h3 {
  color: #F0DBBE;
  font-size: 18px;
}

.specifications{
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 8% 0px;
}