ion-content {
    --background: #111; /* Mantenha sua cor de fundo */
  }

  .navigation-container {
    width: 300.66px;
    height: 45.66px;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 30px;
  }
  
  .back-button {
    width: 50px;
    left: 0px;
    top: 16px;
    position: absolute;
    color: #F0F0F0;
    cursor: pointer; /* Indica que é clicável */
  }
  
  .start-button {
    width: 50px;
    right: 0px;
    top: 16px;
    position: absolute;
    color: #F0F0F0;
    cursor: pointer; /* Indica que é clicável */
  }